.flex-container{
    background-color: #f5eeee;
   display: flex;
   justify-content: space-evenly;
}
.flex-container > ul {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

/* #formStyle{
    background-color: lightblue;
    border-radius: 0.5cm;
    border-style:groove;
    border-width: 3px;
    border-color: lavender;
} */